In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/playground-series-s5e3/sample_submission.csv
/kaggle/input/playground-series-s5e3/train.csv
/kaggle/input/playground-series-s5e3/test.csv

In [2]:
df = pd.read_csv("/kaggle/input/playground-series-s5e3/train.csv")
df.head()

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
0,0,1,1017.4,21.2,20.6,19.9,19.4,87.0,88.0,1.1,60.0,17.2,1
1,1,2,1019.5,16.2,16.9,15.8,15.4,95.0,91.0,0.0,50.0,21.9,1
2,2,3,1024.1,19.4,16.1,14.6,9.3,75.0,47.0,8.3,70.0,18.1,1
3,3,4,1013.4,18.1,17.8,16.9,16.8,95.0,95.0,0.0,60.0,35.6,1
4,4,5,1021.8,21.3,18.4,15.2,9.6,52.0,45.0,3.6,40.0,24.8,0

In [3]:
df.describe()

,id,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed,rainfall
count,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000
mean,1094.500000,179.948402,1013.602146,26.365799,23.953059,22.170091,20.454566,82.036530,75.721918,3.744429,104.863151,21.804703,0.753425
std,632.342866,105.203592,5.655366,5.654330,5.222410,5.059120,5.288406,7.800654,18.026498,3.626327,80.002416,9.898659,0.431116
min,0.000000,1.000000,999.000000,10.400000,7.400000,4.000000,-0.300000,39.000000,2.000000,0.000000,10.000000,4.400000,0.000000
25%,547.250000,89.000000,1008.600000,21.300000,19.300000,17.700000,16.800000,77.000000,69.000000,0.400000,40.000000,14.125000,1.000000
50%,1094.500000,178.500000,1013.000000,27.800000,25.500000,23.850000,22.150000,82.000000,83.000000,2.400000,70.000000,20.500000,1.000000
75%,1641.750000,270.000000,1017.775000,31.200000,28.400000,26.400000,25.000000,88.000000,88.000000,6.800000,200.000000,27.900000,1.000000
max,2189.000000,365.000000,1034.600000,36.000000,31.500000,29.800000,26.700000,98.000000,100.000000,12.100000,300.000000,59.500000,1.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2190 entries, 0 to 2189
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2190 non-null   int64
 1   day            2190 non-null   int64
 2   pressure       2190 non-null   float64
 3   maxtemp        2190 non-null   float64
 4   temparature    2190 non-null   float64
 5   mintemp        2190 non-null   float64
 6   dewpoint       2190 non-null   float64
 7   humidity       2190 non-null   float64
 8   cloud          2190 non-null   float64
 9   sunshine       2190 non-null   float64
 10  winddirection  2190 non-null   float64
 11  windspeed      2190 non-null   float64
 12  rainfall       2190 non-null   int64
dtypes: float64(10), int64(3)
memory usage: 222.5 KB

In [5]:
df.isna().sum()

id               0
day              0
pressure         0
maxtemp          0
temparature      0
mintemp          0
dewpoint         0
humidity         0
cloud            0
sunshine         0
winddirection    0
windspeed        0
rainfall         0
dtype: int64

In [6]:
df.corr

<bound method DataFrame.corr of         id  day  pressure  maxtemp  temparature  mintemp  dewpoint  humidity  \
0        0    1    1017.4     21.2         20.6     19.9      19.4      87.0
1        1    2    1019.5     16.2         16.9     15.8      15.4      95.0
2        2    3    1024.1     19.4         16.1     14.6       9.3      75.0
3        3    4    1013.4     18.1         17.8     16.9      16.8      95.0
4        4    5    1021.8     21.3         18.4     15.2       9.6      52.0
...    ...  ...       ...      ...          ...      ...       ...       ...
2185  2185  361    1014.6     23.2         20.6     19.1      19.9      97.0
2186  2186  362    1012.4     17.2         17.3     16.3      15.3      91.0
2187  2187  363    1013.3     19.0         16.3     14.3      12.6      79.0
2188  2188  364    1022.3     16.4         15.2     13.8      14.7      92.0
2189  2189  365    1013.8     21.2         19.1     18.0      18.0      89.0

      cloud  sunshine  winddirection  windspeed  rainfall
0      88.0       1.1           60.0       17.2         1
1      91.0       0.0           50.0       21.9         1
2      47.0       8.3           70.0       18.1         1
3      95.0       0.0           60.0       35.6         1
4      45.0       3.6           40.0       24.8         0
...     ...       ...            ...        ...       ...
2185   88.0       0.1           40.0       22.1         1
2186   88.0       0.0           50.0       35.3         1
2187   79.0       5.0           40.0       32.9         1
2188   93.0       0.1           40.0       18.0         1
2189   88.0       1.0           70.0       48.0         1

[2190 rows x 13 columns]>

In [7]:
x = df.drop(["rainfall"],axis = "columns")
y = df.rainfall

In [8]:
from sklearn.model_selection import train_test_split
x_train , x_test, y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [9]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier

In [10]:
from sklearn.model_selection import GridSearchCV

In [11]:
model_para ={
    "svm":{ "model":svm.SVC(),
           "para":{
               "C":range(1,100,5),
               "kernel":["rbf","linear"],
               "gamma":["auto","scale"]
           } 
    },
    "RandomForestClassifier":{
        "model":RandomForestClassifier(),
        "para":{
            "n_estimators":range(1,100,5)
        }
    },
    "LogisticRegression" :{
        "model":LogisticRegression(multi_class='auto',solver="liblinear"),
        "para":{
            "C":range(1,100,5)
        }
    },
    "GaussianNB":{
        "model":GaussianNB(),
        "para":{      
        }
    },
    "MultinomialNB":{
        "model":MultinomialNB(),
        "para" : {
            
        }
    },
    "DecisionTreeClassifier":{
        "model":DecisionTreeClassifier(),
        "para":{      
        }
    }
}

In [ ]:
scores = []
for model_name , mp in model_para.items():
    clf = GridSearchCV(mp["model"],mp["para"],cv=5,return_train_score =False)
    clf.fit(x,y)

    scores.append({
        'model': model_name,
        'best_score': clf.best_score_ ,
        'best_params': clf.best_params_
    })
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df